table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
	table-layout: fixed;
	width: 50%;
}

tr {
  height: 12vw; /* Set this to whatever amount forms square cells */
  text-align: center; 
}

td {
	height: 300px;
	width: 300px;
}
